.container{
    display:         flex;
    flex-wrap:       wrap;
    justify-content: center;
  }
  
  .block{
    width: 42%;
    background-color: #cccccc;
    margin: 5px;        
    padding: 5px;
    text-align: center;
    font-size:1.5em;
    justify-items:center;
    padding:10px;
  }

  body{
    text-align:center;
    font-family:arial;
  }
  button{
    text-align:center;
    font-size:2em;
    padding:0.25em;
  }

.block:nth-child(1){
  background-color:lightblue;
}
.block:nth-child(2){
  background-color:lightpink;
}

#theTarget{
  font-size:3em;
  padding:30px 0px; 
}

#credits{
  position:fixed;
  bottom:0;
  margin:auto;
}